.idea

node_modules/
package-lock.json
PHPhost.md
paletaDeCores.md
src/service/firebase.js
src/JavaScript/auth.js
src/JavaScript/admin.js


# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/