
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.petForm {
    border: #7c5143 solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    padding: 20px 30px;
    margin-top: 20px;
}

.petForm h2 {
    color: #7c5143;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
}

.petForm input, .petForm select {
    border: #7c5143 solid 1px;
    
    width: 80%;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 5px;

    font-size: 13px;
    cursor: pointer;
}

.petForm button {
    background-color: #7c5143;
    color: #fff;

    width: 55%;
    border-radius: 3px;
    border: none;
    padding: 10px 6px;
    margin-top: 16px;

    font-size: 14px;
    cursor: pointer;
}

.section-tabelaPets {
    /* border: green solid 1px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px auto 40px auto;
    gap: 20px;
}

.tabelaPets {
    border: #7c5143 solid 1px;
    padding: 40px;
    padding-bottom: 15px;
    border-radius: 6px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    width: 50%;
    min-width: 800px;
    min-height: 370px;
    gap: 15px;
}

/* CARD INDIVIDUAL DO PET */
.pet-card {  
    /* border: blue solid 1px; */

    text-align: center;
    cursor: pointer;
    gap: 10px;

    height: fit-content;
    padding-bottom: 15px;
}

.pet-card .img-box-solid  {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    border-radius: 3px;
    margin-bottom: 10px;
}

.pet-card .img-box-solid img {
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.pet-card .pet-card .pet-about h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.pet-card .pet-card .pet-about p {
    font-size: 16px;
    font-weight: 300;
}

.pet-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.pet-card button:hover {
    background-color: #45a049;
}

input[type="file"] {
    margin-bottom: 15px;
}