footer {
    background-color: #48302E;
    color: #fff;

    padding: 20px 0;
    margin: 0;
    top: 100%;
    bottom: 0;
    width: 100%;
}

footer section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

footer section div {
    border: red solid 5px;
    justify-content: space-evenly;
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

footer section div img {
  width: 25px;
}

footer section div h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

footer section div p, footer section div li {
    color: #fff;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

footer section div ul {
    list-style: none;
    padding: 0;
}

footer section div ul li {
    cursor: pointer;
    margin-bottom: 8px;
}


footer section div ul li a {
    color: #fff;

    text-decoration: none;
}


footer section div ul li a:hover {
    opacity: 0.8;
}

#bottom section {
    color: #fff;

    text-align: center;
    padding: 20px 0;
}

#bottom section p {
    margin: 0;
    font-size: 14px;
}

