footer {
    background-color: #48302E;
    color: #fff;

    align-items: center;
    justify-items: center;
    justify-content: center;

    padding: 100px 0;
    margin: 0;
    top: 100%;
    bottom: 0;
    width: 100%;
}

footer section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer section div {
    width: 250px;
    padding: 0;
}

footer section div:last-child {
    display: flex;
    flex-wrap: wrap;
}

footer section div h2 {
    padding: 0;
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 600;
}

footer section div div ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    list-style: none;
    margin-right: 10px;
    width: 40%;
}

footer section div ul li {
    display: flex;
}

footer section div ul li:hover {
    opacity: 0.8;
}

footer section div p, footer section div li {
    color: #fff;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    cursor: pointer;
}

footer section div img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

footer section div img:hover {
    opacity: 0.8;
}

footer hr {
    border: none;
    border-top: 1px solid #fff;

    display: flex;
    flex-direction: column;

    width: 70%;
    margin: 50px auto 30px auto;
}

footer section:last-child {
    color: #fff;

    text-align: center;
    padding: 20px 0;
}

footer section:last-child p {
    margin: 0;
    font-size: 14px;
}

