
header {
    background-color: #facb53;

    width: 100%;
    position: relative;
    background-size: cover;
    color: white;
    padding: 24px 0;

    justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: 220px;
}

header h2 {
    color: #7c5143;
    
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
header h2:hover {
    transform: scale(0.95);
    transition: 0.2s;
}

nav {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    color: #7c5143;

    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

nav ul li:hover {
    transform: scale(0.95);
    transition: 0.2s;
}