body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

.toolbar {
    position: relative;
    background-image: url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');
    background-size: cover;
    color: white;
    padding: 16px;
}

.toolbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.toolbar-title i {
    margin-right: 8px;
}

.toolbar-actions {
    display: flex;
    align-items: center;
}

.toolbar-actions button {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.toolbar-actions i {
    font-size: 18px; /* Tamanho do ícone */
}

.btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}