
.container-img-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;

    overflow: hidden;
    position: relative;
}

.container-img {
    width: 100%;

    filter: brightness(30%) contrast(65%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
    transition: transform 1s ease, filter 1s ease;
    
    z-index: 0;
    position: relative;
}

.container-img:hover {
    transform: scale(1.05);
    filter: brightness(40%) contrast(70%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
}

.container-img-section * {
    z-index: 1;
    position: absolute;
}

.tittle-1 {
    pointer-events: none;
    mix-blend-mode:luminosity;
    font-weight: 500;
    font-size: 40px;
}

.tittle-2 {
    pointer-events: none;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding: 0 0 14px;
    margin: 0;
}

.color-1 {
    color: #faf3e0;
    text-shadow: #101010 4px 4px;
}

.color-2 {
    color: #774C3E;
}

.container-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.div-row {
    flex-direction: row;
}

.div-column {
    flex-direction: column;
}

/* SEÇÃO DE HISTÓRIA DO PROJETO */
#hist-container {
    align-items:stretch;
    gap: 80px;
}

#hist-container-text {
    width:40%;
}

#hist-container-img {
    width: 26%;
    min-height: 280px;
    height: fit-content;
    border-radius: 4px;
}

#hist-container-img img {
    object-fit: cover;
    object-position: 0 -160px;
}

/* SEGUNDO CONTAINER */
#container-2 {
    align-items: stretch;
    gap: 60px;
}

#container-2-img {
    width: 26%;
    min-height: 280px;
    height: fit-content;
    border-radius: 4px;
}

#container-2-img img {
    width: 100%;
    object-position: 0 -120px;
}

#container-2-txt {
    width: 35%;
}

.img-box {
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.img-box img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -180px;
    position: absolute;
}

.color-div {
    background-color: #faf3e0;
}

.text-1 {
    width: 100%;
    text-align: justify;
    font-weight: 400;
    font-size: 17px;
}

.text-2 {
    width: 70%;
    text-align: justify;
    font-weight: 400;
    font-size: 17px;
}

.line {
    border-top: #774C3E solid 1px;
}

/* SEÇÃO DE IMAGENS EM LINHA */
.imgs-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    height: 300px;

    overflow: hidden;
    position: relative;
}

.section-img {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;
    cursor: pointer;    
    overflow: hidden;
}

.section-img a {
    width: 100%;
    min-height: 280px;
    height: fit-content;
}

.section-img a img {
    width: 100%;
    object-fit: cover;
}

.imgs-section-tittle {
    border-radius: 6px;
    padding: 10px 16px;

    pointer-events: none;
    text-align: center;
    font-weight: 500;
    font-size: 34px;

    z-index: 1;
    position: absolute;
}

.section-img a img {
    width: 100%;
    object-fit: cover;
}

/* PRIMEIRA IMAGEM DA LINHA */
#section-img-1 {
    object-position: 0 60px;

    filter: brightness(35%) contrast(75%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
    transition: transform 1s ease, filter 1s ease;
}

#section-img-1:hover {
    filter: brightness(50%) contrast(85%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
    transform: scale(1.05);
}

/* SEGUNDA IMAGEM DA LINHA */
#section-img-2 {
    object-position: 0 20px;

    filter: brightness(40%) contrast(75%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
    transition: transform 1s ease, filter 1s ease;
}

#section-img-2:hover {
    filter: brightness(55%) contrast(85%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(60%);
    transform: scale(1.05);
}

@media (max-width: 480px) {

    .container-img-section {
        height: 200px;
    }

    .container-img {
        width: 130%;
        object-position: 20px -20px;
    }

    /* CONTAINER 1 */
    #hist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    } 

    #hist-container-text {
        width: 80%;
    }
    
    #hist-container-img {
        width: 80%;
    }
    
    #hist-container-img img {
        object-fit: cover;
        object-position: 0 -120px;
    }

    /* CONTAINER 2 */
    #container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    
    #container-2-img {
        width: 80%;
    }
    
    #container-2-img img {
        width: 100%;
        object-position: 0 -95px;
    }
    
    #container-2-txt {
        width: 80%;
    }

    /* IMAGENS EM LINHA */
    .imgs-section {
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        width: fit-content;
        text-align: center;
        align-items: center;
    }

    .section-img a {
        min-height: fit-content;
        height: 200px;
    }
    
    #section-img-1 {
        object-position: 0 -130px;
    }

    #section-img-2 {
        object-position: 0 -90px;
    }
}