.nosso-abrigo{
    text-align: center;
}

.image-container {
    position: relative;
    border: 2px solid purple;
}
  
img {
    width: 200px;
    height: auto;
    border: 2px solid green;
}
  
#button-overlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    /* Outros estilos para personalizar o botão */
}

.button {
    background-color: #774C3E;
    color: #FFFFFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Fredoka', sans-serif;
  }

.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ffb400;
  }

.image-container img {
    width: 500px;
}
  
.texto-esquerda {
    width: 30%;
    text-align: center;
    padding-right: 50px;
    border: 2px solid red;
}

.texto-direita {
    width: 30%;
    text-align: center;
    padding-right: 50px;
    border: 2px solid red;
}

.texto-centralizado {
    text-align: center;
    color: #774C3E;
    background-color: #FEEEC7;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 30%;
    padding-right: 30%;
    border: 2px solid purple;
}

.texto-titulo {
    color: #73BE66;
    padding-bottom: 10px;
    border: 2px solid purple;
}

