/* Estilos gerais */
body {
    background-color: #774C3E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    background-color: #faf3e0;
    border-radius: 12px;
    box-shadow: 0 8px 16px #00000033;
    text-align: center;
    transform: scale(1.02);
}

/* Título */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    text-align: left;
}

/* Campos de entrada */
input[type="email"],
input[type="password"] {
    width: 90%; /* Reduzindo o comprimento dos campos */
    max-width: 300px; /* Limite máximo de largura */
    margin: 0 auto; /* Centraliza os campos */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Botão de login */
button {
    width: 90%; /* Ajusta o comprimento do botão */
    max-width: 300px; /* Limite máximo de largura */
    margin: 0 auto; /* Centraliza o botão */
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.03);
}

/* Mensagem de erro */
#errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}