
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0 0;
}

.quem-somos-titulo {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: #48302E;
}

.section-line {
    border-top: #7c5143 solid 1px;
    width: 80%;
}

.members-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.members-div {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.member-card {
    margin: 30px 0;
    padding: 6px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.member-card .img-member {    
    width: 180px;
    height: 180px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    position: relative;
}

.member-card .img-member img {
    object-fit: cover;
    object-position: center;
    width: 100%;

    position: absolute;
}

.member-card h3 {
    color: #7c5143;
    padding: 8px 0 2px;

    font-size: 20px;    
    font-weight: 500;
}

.member-card p {
    color: #101010;
    margin-top: 4px;
    font-size: 17px;    
    font-weight: 300;
}

.conheca-os-pets {
    cursor: pointer;
    height: 380px;
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    position: relative;
}

.conheca-os-pets * {
    z-index: 1;
    position: relative;
}

.conheca-os-pets h3 {
    color: #faf3e0;
    text-shadow: #101010 4px 4px;
    mix-blend-mode:luminosity;
    font-weight: 500;
    font-size: 44px;
    pointer-events: none;
}

.conheca-os-pets img {
    width: 100%;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;

    filter: brightness(25%) contrast(70%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(55%);
    transition: transform 1s ease, filter 1s ease;
}

.conheca-os-pets img:hover {
    transform: scale(1.03);
    filter: brightness(32%) contrast(72%) sepia(1) saturate(4) hue-rotate(325deg) grayscale(55%);
}

@media (max-width: 480px) {

    .members-section {
        margin-bottom: 20px;
    }

    .quem-somos-titulo {
        font-size: 2.25rem;
    }

    .members-div {
        align-items: first baseline;
        justify-content: center;
        flex-wrap: wrap;
        margin: 14px 0;
    }

    .section-line {
        width: 70%;
    }

    .member-card {
        margin: 0 0 8px;

        & h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        & p {
            font-size: 1.25rem;
            margin-top: 0;
        }
    }

    .member-card .img-member {
        width: 140px;
        height: 140px;
    }

    .conheca-os-pets {
        height: 200px;
        margin-top: 0;

        & h3 {
            font-size: 2.4rem;
        }
    }
}