/* Estiliza o container do slideshow */
.slideshowContainer {
    border: 2px;
    border-style: solid;
    border-color: red;

    position: relative;
    /* width: 100%; */
    max-height: 500px;
    margin: 0;
    overflow: hidden;
}

/* Esconde todos os slides por padrão */
.slideImg {
    object-fit: contain;
    display: none;
}

/* Efeito de fade para transição dos slides */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* Botões de navegação (próximo/anterior) */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse nos botões */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Estiliza as bolinhas indicativas */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}